/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.cv-box {
  width: 794px;
  margin: 10px auto 44px;
  /* box-shadow: 0 0 40px 0 rgb(0 0 0 / 8%);
  background-color: #fff; */
}

.content-wrap {
  width: auto;
  padding: 0px 30px;
}

.name {
  font-weight: 600;
  font-size: 24px;
  margin: 15px 0;
  padding-right: 20px;
}
.name-cared-container {
  font-size: 14px;
}
.s-icon {
  font-size: 16px;
  color: #414a60;
  margin-right: 10px;
}
.phone-mail {
  margin: 15px 0;
}
.name-phone-mail {
  display: flex;
  align-items: flex-end;
  /* margin-bottom: 19px; */
}

.divider-1 {
  margin: 0 20px;
  background-color: #ff9800;
}

.info-1 {
  margin-right: 28px;
}

.section-box {
  margin-top: 15px;
}
.section-box .title {
  /* margin-left: 10px; */
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}
.section-box .content-text {
  padding: 0 14px;
  font-size: 14px;
}
.content-text.project-list {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.title-before {
  background-color: #ff9800;
  width: 3px;
  margin-left: 0;
}
ul, ol, li {
  list-style: none;
}
.section-box ul {
  padding: 0;
  margin: 0;
}
.section-box li {
  /* padding: 0 14px; */
  position: relative;
  min-height: 30px;
}

li .info-text {
  /* display: flex;
  align-items: center; */
}

.project-list .info-text {
  display: flex;
  align-items: flex-start;
}
.project-content {
  width: 80%;
  flex-shrink: 0;
  margin-right: 20px;
}
.info-text.code {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.codeName {
  text-align: center;
}
.info-text .s-title {
  flex-shrink: 0;
}
.gray {
  color: #9fa3b0;
}
.period {
  font-size: 14px;
  padding-left: 30px;
  /* float: left; */
}

.info-text {
  margin-bottom: 6px;
}
.info-text.skill{
  margin-bottom: 3px;
}
.info-text p {
  margin: 0;
}
p {
  white-space: break-spaces;
  overflow: hidden;
}
.degree-box-wrap {
  margin-bottom: 25px;
  font-size: 14px;
}